<!-- Main Poster Content -->
<div id="content" class="flex flex-col w-6/12 h-96 px-4 py-6 gap-4 rounded-r-md bg-slate-50">
    <div id="header" class="flex justify-between items-center mb-2">
        {% include 'header/avatar.html' %}
    </div>
    <div id="main" class="h-max">
        <div class="flex justify-center items-center" hx-get="/flow_playlist_table" hx-trigger="load" hx-target="#main"
            hx-swap="innerHTML transition:true swap:200ms">
            <img class="w-1/2" src="{{ url_for_static_asset('static', 'images/spinner.svg') }}" alt="Spinner">
            <div class="h-full text-4xl text-blue-900">
                Fetching Database...
            </div>
        </div>
    </div>
</div>