<!-- Flow Playlist Table -->
<table id="table" class="table-auto w-full">
    <thead class="bg-slate-800 text-left text-slate-50">
        <tr>
            <th class="font-normal px-4 py-2">Flow</th>
            <th class="font-normal px-4 py-2">Keywords</th>
            <th class="font-normal px-4 py-2">Sample</th>
            <th class="font-normal px-4 py-2">Active</th>
            <th class="font-normal px-4 py-2"></th>
        </tr>
    </thead>
    <tbody>
        {% for key, value in flows.items() %}
        <tr id="tr-{{ value.name }}" class="hover:bg-slate-50 active:bg-slate-100 focus:bg-slate-200" tabindex="0">
            <td class="px-4 py-2 border-t">{{ value.name }}</td>
            <td class="px-4 py-2 border-t">
                {% for keyword in value.keywords %}
                <a class="text-blue-700" href="https://www.spotify.com">{{ keyword }}</a>
                {% endfor %}
            </td>
            <td class="px-4 py-2 border-t">{{ value.sample_playlist_url }}</td>
            <td class="px-4 py-2 border-t text-center align-middle">
                {% if value.active %}✓{% endif %}
            </td>
            <td class="py-2 border-t" id="{{ value.id }}">
                <input type="hidden" name="flow-id" value="{{ value.id }}">
                {% if value.active %}
                {% include 'partials/button_event.html' %}
                {% else %}
                {% include 'partials/button_add.html' %}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>