<!-- Add Form -->
<div id="add-form-content" class="flex flex-col gap-4 rounded-md bg-slate-50">
    <!-- Form/ Flow Name -->
    <div class="text-2xl text-slate-900 px-4 mb-2">Flow Name: {{ flow.get('name') }}</div>
    <div class="flex flex-col px-4 py-2 justify-between">
        <!-- Form Body -->
        <form class="flex flex-col justify-end gap-6">
            <div class="flex justify-between">
                <div id="manual-auto" class="flex flex-col justify-between gap-6">
                    <div class="flex flex-col">What kind of playlist would you like to create?</div>
                    <div class="flex gap-2">
                        <input id="manual-radio" type="radio" name="playlistType" value="manual" class="" checked>
                        <label class="block text-gray-700">Manual</label>
                    </div>
                    <div class="flex gap-2">
                        <input id="auto-radio" type="radio" name="playlistType" value="automatic" class="flex gap-2"
                            disabled>
                        <label class=" block text-gray-700">Automatic <em>(Coming Soon. . .)</em></span></label>
                    </div>
                </div>
                <div id="keywords" class="basis 3/4">
                    <label class="block text-gray-700">Enter Keywords to generate playlist mood</label>
                    <input type="text" name="keywords" class="w-full border border-gray-300 rounded-md px-3 py-2">
                    <input type="hidden" name="flow-id" value="{{ flow.get('id') }}">
                </div>
            </div>
            <div id="playlist">
                <!-- Placeholder -->
            </div>
            <div class="flex justify-between items-start py-2">
                {% include 'partials/button_back.html' %}
                <div class="flex gap-2">
                    {% include 'partials/button_test.html' %}
                    {% include 'partials/button_accept.html' %}
                </div>
            </div>
        </form>
    </div>
</div>